body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

body {
  background: #edf2f4;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  height: 100vh;
  font-family: "Playfair Display", georgia, serif;
}

.card {
  pointer-events: none;
  transform: translateZ(0);
  background: white;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 1px 1px 15px #666;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, .3);

  }

  .card-content {
    background: #fff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1s;
    animation-name: loader1;

    .niddle-hour {
      height: 6px;
      width: 40%;
      top: 50%;
      right: 50%;
      position: absolute;
      transform-origin: 100%;
      border-radius: 3px;
      background-color: #f00;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    .niddle-minute {
      height: 4px;
      width: 44%;
      top: 50%;
      right: 50%;
      position: absolute;
      transform-origin: 100%;
      border-radius: 3px;
      background-color: #f00;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    .niddle-second {
      height: 2px;
      width: 47%;
      top: 50%;
      right: 50%;
      position: absolute;
      transform-origin: 100%;
      border-radius: 3px;
      background-color: #f00;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    .center {
      height: 20px;
      width: 20px;
      transform-origin: 90%;
      background: #f00;
      border-radius: 50%;
    }

    div {
      transform: translateZ(10px);

      &.absolute {
        transform: translateZ(80px);
      }
    }

    .hour{
      position: absolute;
      font-size: 20px;
      height:20px;
      width:20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hour-1{
      right:71px;
      top:18px;
    }
    .hour-2{
      right:18px;
      top:71px;
    }
    .hour-3{
      right:0
    }
    .hour-4{
      right:19px;
      bottom:72px;
    }
    .hour-5{
      right:72px;
      bottom:21px;
    }
    .hour-6{
      bottom:0
    }
    .hour-7{
      left:72px;
      bottom:21px;
    }
    .hour-8{
      left:19px;
      bottom:72px;
    }
    .hour-9{
      left:0
    }
    .hour-10{
      left:20px;
      top:71px;
    }
    .hour-11{
      left:71px;
      top:18px;
    }
    .hour-12{
      top:0
    }
  }

  .loader {
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transform-style: preserve-3d;
    background: #000;
    animation-duration: 1.4s;
    animation-name: loader1;
  }

  @keyframes loader1 {
    from {
      height: 10px;
      width: 10px;
    }

    to {
      height: 300px;
      width: 300px;
    }
  }

  div {
    transform: translateZ(20px);

    &.related {
      transform: translateZ(20px);
    }
  }

  @media (prefers-color-scheme: light) {
    .card-content {
      background: #FFF;
      color: #000;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card-content {
      background: #000;
      color: #fff;
    }
  }
}

.contact {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  span {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }

}